.app {
  width: 70%;
  min-height: 30rem;
  margin: 5rem auto 5rem auto;
}
.field {
  min-width: 60%;
  min-height: 30rem;
  background-color: burlywood;
  border-radius: 1rem;
  box-shadow: 5px 7px 21px -3px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: 5px 7px 21px -3px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: 5px 7px 21px -3px rgba(0, 0, 0, 0.71);
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, minmax(1rem, 1fr));
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  .image__container {
    position: relative;
    transform-style: preserve-3d;
  }
  .image__container--turnup {
    transform: rotateY(180deg);
    transition: transform 1s;
  }
  .image__container--turndown {
    transform: rotateY(0deg);
    transition: transform 1s;
  }
  .image {
    width: 8rem;
    height: 10rem;
    backface-visibility: hidden;
    object-fit: contain;
    &--back {
      transform: rotateY(180deg);
    }
    &--front {
      position: absolute;
    }
  }
}
.newgame {
  padding: 0.5rem 1rem;
  margin: 5rem auto 0 auto;
  display: block;
}
@media (max-width: 880px) {
  .app {
    width: 90%;
  }
}
// @media (max-width: 650px) {
//   .image {
//     width: 3rem;
//   }
// }
